body {
    background-color: #F3F5FC;

}

.logo {
    width: Fixed (120px);
    height: Fixed (48px);
    top: 40px;
    left: 40px;
    gap: 40px;
}

.container-principal {
    width: 1440px;
    height: 1024px;
    top: 622px;
    left: -2277px;
    background: #F3F5FC;

}

.texto {
    /*layout*/
    position: absolute;
    width: 42%;
    height: 60%;
    top: 15%;
    left: 12%;

    /*Tipografía*/
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A3871;

    /*Color*/
    background: #F3F5FC;
}

.texto::placeholder {
    color: #0A3871;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.alerta p {
    font-family: "Inter";
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 80%;
    color: #495057;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
    gap: 24px;
    /*espaciamento entre íems*/

}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    /*para que el contenido se justifique al centro*/
    padding: 2%;
    /*este es el espaciamiento interno para el contenido*/
    width: 25%;
    gap: 8px;
    background: #0A3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.btn-desencriptar {
    box-sizing: border-box;
    justify-content: center;
    /*para que el contenido se justifique al centro*/
    padding: 2%;
    /*este es el espaciamiento interno para el contenido*/
    width: 25%;
    gap: 8px;
    background: #D8DFE8;
    border: solid 1px #0A3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A3871;
}

.btn-encriptar:hover,
.btn-desencriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.container-resultado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px #00000014;
    border-radius: 32px;
}


.encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    color: #343A40;
}

.encriptado p {
    width: 80%;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;

}

.muneco {
    position: absolute;
    width: 80%;
    /* Porcentaje del ancho de la pantalla */
    height: 50%;
    /* Permitir que la altura se ajuste automáticamente */
    top: 15%;
    /* Porcentaje de la altura de la pantalla */
}

